streamlit
streamlit_option_menu
streamlit_extras
pillow
spacy
PyPDF2
python-docx
nltk
pdfminer
pdfminer.six
openai
fpdf
dotenv
textstat
docx
wordcloud
# Ensure to run the following command to download the spaCy model
# python -m spacy download en_core_web_sm

